extend index

block pageindex
 section.about-inner
  div(class='container')
   div.row
    div(class="col-sm-6 item")
     div.photo
       img(src="images/slides/img1.jpg" alt="" title="")
     a(class="bla-2 cd-single-point" href="https://youtu.be/f0-NSNR2IhY") 
        i(class="cd-img-replace") 
        i.innerbc
         svg(width="23" height="29" viewBox="0 0 23 29" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M0.835352 0.998526C0.479041 1.20118 0.258911 1.57953 0.258911 1.98921V26.9983C0.258911 27.6277 0.769257 28.1379 1.3985 28.1379C2.02774 28.1379 2.53809 27.6277 2.53809 26.9983V3.99394L19.4103 14.0381L7.00319 22.0317C6.47423 22.3727 6.32152 23.0779 6.66245 23.6069C7.00356 24.136 7.70859 24.2887 8.23774 23.9476L22.191 14.9576C22.5227 14.7439 22.7202 14.3739 22.7132 13.9794C22.7061 13.5849 22.4957 13.2221 22.1567 13.0203L1.9814 1.00992C1.62889 0.800427 1.19166 0.795869 0.835352 0.998526Z" fill="#fff")
    div(class="col-sm-6 item")
     div.inner
      span.bg-span About Us
      h2.title iTrach International  
      p   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br/> <br/> Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc.Donec vitae sapien ut libero venenatis faucibus tempus.
 section.about
  div.container
   h2.title Why Choose Us iTrach International
   p.text-center iTrach Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing<br/>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing
   ul(class="nav nav-tabs" id="myTab" role="tablist")
    li(class="nav-item") 
     a(class="nav-link active" id="vision-tab" data-toggle="tab" href="#vision"  role="tab" aria-controls="vision" aria-selected="true") 
      span 
       i.icon #[img(src="images/vision.svg" alt="" title="")]
       | Vision
    li(class="nav-item")  
     a(class="nav-link"  id="mission-tab" data-toggle="tab" href="#mission" role="tab" aria-controls="mission"  aria-selected="false")  
      span 
       i.icon #[img(src="images/tw.svg" alt="" title="")]
       | mission
    li(class="nav-item" data-wow-delay="0.5s") 
     a(class="nav-link"  id="goals-tab" data-toggle="tab" href="#goals" role="tab" aria-controls="goals"  aria-selected="false")  
      span 
       i.icon #[img(src="images/target.svg" alt="" title="")]
       | goals
    li(class="nav-item" data-wow-delay="0.6s") 
     a(class="nav-link"  id="values-tab" data-toggle="tab" href="#values" role="tab" aria-controls="values"  aria-selected="false")  
      span 
       i.icon #[img(src="images/ingots.svg" alt="" title="")]
       | values
   div(class="tab-content" id="myTabContent"  data-wow-delay="0.7s")
    div(class="tab-pane fade show active " id="vision"  role="tabpanel" aria-labelledby="vision-tab") 
     div.row
      div.col-sm-6.item
       div.inner
        h2.title Vision
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur adipisicing <br/> <br/> elit, sed do eiusmod  magna  adipisicing elit, sed do Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do Lorem ipsum dolor sit amet, consectetur adip <br/><br/>  isicing elit, sed do eiusmod  magna  eiusmod  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod  magna  eiusmod  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod  magna 
      div.col-sm-6.item.flex
       div.about-img
        img(src="images/slides/img1.jpg" alt="" title="")
    div(class="tab-pane fade " id="mission"  role="tabpanel" aria-labelledby="mission-tab") 
     div.row
      div.col-sm-6.item.flex
       div.about-img
        img(src="images/slides/img1.jpg" alt="" title="")
      div.col-sm-6.item
       div.inner
        h2.title mission
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur adipisicing <br/> <br/> elit, sed do eiusmod  magna  adipisicing elit, sed do Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do Lorem ipsum dolor sit amet, consectetur adip <br/><br/>  isicing elit, sed do eiusmod  magna  eiusmod  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod  magna  eiusmod  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod  magna 
    div(class="tab-pane fade" id="goals"  role="tabpanel" aria-labelledby="goals-tab")  
     div.row
      div.col-sm-6.item
       div.inner
        h2.title goals
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur adipisicing <br/> <br/> elit, sed do eiusmod  magna  adipisicing elit, sed do Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do Lorem ipsum dolor sit amet, consectetur adip <br/><br/>  isicing elit, sed do eiusmod  magna  eiusmod  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod  magna  eiusmod  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod  magna 
      div.col-sm-6.item.flex
       div.about-img
        img(src="images/slides/img1.jpg" alt="" title="")
    div(class="tab-pane fade" id="values"  role="tabpanel" aria-labelledby="values-tab") 
     div.row
      div.col-sm-6.item.flex
       div.about-img
        img(src="images/slides/img1.jpg" alt="" title="")
      div.col-sm-6.item
       div.inner
        h2.title values
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur adipisicing <br/> <br/> elit, sed do eiusmod  magna  adipisicing elit, sed do Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do Lorem ipsum dolor sit amet, consectetur adip <br/><br/>  isicing elit, sed do eiusmod  magna  eiusmod  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod  magna  eiusmod  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod  magna 