extend index

block pageindex
 section.track
  div.container
   ul.wizard
    li 
     a(href="index.html") 
       | home
       svg(width="9" height="9" viewBox="0 0 10 10"  xmlns="http://www.w3.org/2000/svg")
        path(d="M7.58102 4.72562L2.96341 0.108013C2.81055 -0.0396239 2.56695 -0.0353851 2.41931 0.117483C2.27528 0.266608 2.27528 0.503012 2.41931 0.652115L6.76487 4.99767L2.41931 9.34322C2.26908 9.49347 2.26908 9.73707 2.41931 9.88733C2.56959 10.0376 2.81316 10.0376 2.96341 9.88733L7.58102 5.26972C7.73125 5.11944 7.73125 4.87587 7.58102 4.72562Z")
    li chat 
   //-  End wizard   
   h3.title.mb-3 chat 
   div.user
    img(src='images/profile.png' alt="" title="") 
    div.text
     p.green online
     h3.name  mohamed ahmed
   div.inner.chatall.mt-4
       div.chat-text
        p.text-dat  September 8, 2061
        div.userchat
         a(class="photo" href="#") #[img(src="images/profile.png" alt="")]
         div.padcht
          p.text    My Account   My Account   My Account   My Account   My Account   My Account   My Account   My Account   My Account 
          div.time
           span 9 minutes ago
        div.userchat.tow
         a(class="photo" href="#") #[img(src="images/profile.png" alt="")]
         div.padcht
          p.text   My Account   My Account   My Account   My Account   My Account   My Account   My Account   My Account   My Account 
          div.time
           span 9 minutes ago
        div.userchat
         a(class="photo" href="#") #[img(src="images/profile.png" alt="")]
         div.padcht
          p.text  My Account   My Account   My Account   My Account   My Account   My Account   My Account   My Account   My Account  
          div.time
           span 9 minutes ago
        div.userchat.tow
         a(class="photo" href="#") #[img(src="images/profile.png" alt="")]
         div.padcht
          p.text  My Account   My Account   My Account   My Account   My Account   My Account   My Account   My Account   My Account 
          div.time
           span 9 minutes ago
       form(class="formchat" action="#" method="post")
        textarea(type="text" placeholder="Your Message...")
        div.icon-at 
         a(class="attach-item" href="#")
            svg(width="16" height="16" viewBox="0 0 16 16"  xmlns="http://www.w3.org/2000/svg")
             path(d="M0.804705 13.9427L1.39068 14.5287C2.46361 15.6017 4.20314 15.6017 5.27606 14.5288C5.27606 14.5288 5.27606 14.5288 5.2761 14.5287L12.7642 7.04061C13.5229 6.28194 13.5229 5.05188 12.7642 4.29321L12.3736 3.90255C11.6008 3.17869 10.3989 3.17869 9.62617 3.90255L4.09742 9.4313C3.96501 9.55921 3.96135 9.77022 4.08923 9.90266C4.21714 10.0351 4.42814 10.0387 4.56058 9.91084C4.56336 9.90816 4.56608 9.90544 4.56877 9.90266L10.0975 4.3739C10.6053 3.8988 11.3945 3.8988 11.9022 4.3739L12.2929 4.76456C12.7912 5.26285 12.7913 6.07078 12.293 6.56913C12.293 6.56916 12.2929 6.56922 12.2929 6.56925L4.80478 14.0574C3.98082 14.8422 2.68599 14.8422 1.86207 14.0574L1.27606 13.4714C0.463761 12.6587 0.463761 11.3414 1.27606 10.5287L9.6262 2.17855C10.7532 1.05197 12.5799 1.05197 13.7069 2.17855L14.4883 2.95922C15.6149 4.08621 15.6149 5.91296 14.4883 7.03995L8.09749 13.4307C7.96508 13.5586 7.96139 13.7696 8.0893 13.9021C8.21721 14.0345 8.42821 14.0382 8.56065 13.9103C8.56344 13.9076 8.56615 13.9049 8.56884 13.9021L14.9596 7.51196C16.3468 6.12481 16.3468 3.87577 14.9596 2.48859C14.9596 2.48856 14.9596 2.48856 14.9596 2.48856L14.1783 1.7072C12.7911 0.320019 10.5421 0.319986 9.15488 1.70714C9.15488 1.70717 9.15485 1.70717 9.15485 1.7072L0.804705 10.0573C-0.268221 11.1302 -0.268251 12.8698 0.804705 13.9427C0.804673 13.9427 0.804673 13.9427 0.804705 13.9427Z")
             path(d="M11.6669 0.666493C12.6095 0.664431 13.5139 1.03909 14.1789 1.70717L14.9596 2.48787C16.3468 3.87502 16.3468 6.12406 14.9596 7.51124L14.9596 7.51127L8.56881 13.9021C8.4409 14.0345 8.2299 14.0382 8.09746 13.9103C7.96505 13.7823 7.96136 13.5713 8.08927 13.4389C8.09196 13.4361 8.09468 13.4334 8.09746 13.4307L14.4882 7.04061C15.6148 5.91362 15.6148 4.08687 14.4882 2.95988L13.7069 2.17852C12.5799 1.05194 10.7532 1.05194 9.62617 2.17852L1.27603 10.5287C0.463738 11.3414 0.463738 12.6586 1.27603 13.4714L1.86204 14.0574C2.68599 14.8421 3.98083 14.8421 4.80475 14.0574L12.2929 6.56928C12.7913 6.07099 12.7913 5.26307 12.293 4.76472C12.293 4.76469 12.2929 4.76463 12.2929 4.7646L11.9022 4.37393C11.3945 3.89883 10.6053 3.89883 10.0976 4.37393L4.56881 9.90269C4.4409 10.0351 4.22989 10.0388 4.09745 9.91087C3.96505 9.78297 3.96139 9.57196 4.08927 9.43952C4.09195 9.43674 4.09467 9.43402 4.09745 9.43133L9.62617 3.90255C10.3989 3.17869 11.6008 3.17869 12.3736 3.90255L12.7642 4.29321C13.5229 5.05188 13.5229 6.28194 12.7642 7.04061L5.2761 14.5287C4.20317 15.6017 2.46365 15.6017 1.39072 14.5288C1.39072 14.5288 1.39072 14.5288 1.39069 14.5287L0.804682 13.9427C-0.268242 12.8698 -0.268242 11.1303 0.80465 10.0573C0.80465 10.0573 0.80465 10.0573 0.804682 10.0573L9.15482 1.70717C9.81983 1.03909 10.7242 0.664431 11.6669 0.666493Z")
         button(class="send" type="submit")
            svg(id="Capa_1" enable-background="new 0 0 512.005 512.005" height="512" viewBox="0 0 512.005 512.005" width="512" xmlns="http://www.w3.org/2000/svg")
             path(d="m511.658 51.675c2.496-11.619-8.895-21.416-20.007-17.176l-482 184c-5.801 2.215-9.638 7.775-9.65 13.984-.012 6.21 3.803 11.785 9.596 14.022l135.403 52.295v164.713c0 6.948 4.771 12.986 11.531 14.593 6.715 1.597 13.717-1.598 16.865-7.843l56.001-111.128 136.664 101.423c8.313 6.17 20.262 2.246 23.287-7.669 127.599-418.357 122.083-400.163 122.31-401.214zm-118.981 52.718-234.803 167.219-101.028-39.018zm-217.677 191.852 204.668-145.757c-176.114 185.79-166.916 176.011-167.684 177.045-1.141 1.535 1.985-4.448-36.984 72.882zm191.858 127.546-120.296-89.276 217.511-229.462z")