doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='description' content='Lorem PugJs')
    meta(name='viewport' content='width=device-width, initial-scale=1,shrink-to-fit=no')
    meta(name="keywords" content="")
    title iTrach
    
    include ../includes/styles.pug 
    include ../includes/scripts.pug 
  body
    block pagemap
      include ../pugjs/header.pug
      <!--End Header-->
      block pageindex
       include ../pugjs/slider.pug
       <!--End Slider-->
       include ../pugjs/categories.pug
      include ../pugjs/footer.pug
      <!--End Footer-->
