extend index

block pageindex
 section.profile
  div.container
   ul.wizard
    li 
     a(href="index.html") 
       | home
       svg(width="9" height="9" viewBox="0 0 10 10"  xmlns="http://www.w3.org/2000/svg")
        path(d="M7.58102 4.72562L2.96341 0.108013C2.81055 -0.0396239 2.56695 -0.0353851 2.41931 0.117483C2.27528 0.266608 2.27528 0.503012 2.41931 0.652115L6.76487 4.99767L2.41931 9.34322C2.26908 9.49347 2.26908 9.73707 2.41931 9.88733C2.56959 10.0376 2.81316 10.0376 2.96341 9.88733L7.58102 5.26972C7.73125 5.11944 7.73125 4.87587 7.58102 4.72562Z")
    li orders
   //-  End wizard 
   span.filterby
    svg(viewBox="-42 0 512 512.001" xmlns="http://www.w3.org/2000/svg")
     path(d="m210.351562 246.632812c33.882813 0 63.21875-12.152343 87.195313-36.128906 23.96875-23.972656 36.125-53.304687 36.125-87.191406 0-33.875-12.152344-63.210938-36.128906-87.191406-23.976563-23.96875-53.3125-36.121094-87.191407-36.121094-33.886718 0-63.21875 12.152344-87.191406 36.125s-36.128906 53.308594-36.128906 87.1875c0 33.886719 12.15625 63.222656 36.128906 87.195312 23.980469 23.96875 53.316406 36.125 87.191406 36.125zm-65.972656-189.292968c18.394532-18.394532 39.972656-27.335938 65.972656-27.335938 25.996094 0 47.578126 8.941406 65.976563 27.335938 18.394531 18.398437 27.339844 39.980468 27.339844 65.972656 0 26-8.945313 47.578125-27.339844 65.976562-18.398437 18.398438-39.980469 27.339844-65.976563 27.339844-25.992187 0-47.570312-8.945312-65.972656-27.339844-18.398437-18.394531-27.34375-39.976562-27.34375-65.976562 0-25.992188 8.945313-47.574219 27.34375-65.972656zm0 0")
     path(d="m426.128906 393.703125c-.691406-9.976563-2.089844-20.859375-4.148437-32.351563-2.078125-11.578124-4.753907-22.523437-7.957031-32.527343-3.3125-10.339844-7.808594-20.550781-13.375-30.335938-5.769532-10.15625-12.550782-19-20.160157-26.277343-7.957031-7.613282-17.699219-13.734376-28.964843-18.199219-11.226563-4.441407-23.667969-6.691407-36.976563-6.691407-5.226563 0-10.28125 2.144532-20.042969 8.5-6.007812 3.917969-13.035156 8.449219-20.878906 13.460938-6.707031 4.273438-15.792969 8.277344-27.015625 11.902344-10.949219 3.542968-22.066406 5.339844-33.042969 5.339844-10.96875 0-22.085937-1.796876-33.042968-5.339844-11.210938-3.621094-20.300782-7.625-26.996094-11.898438-7.769532-4.964844-14.800782-9.496094-20.898438-13.46875-9.753906-6.355468-14.808594-8.5-20.035156-8.5-13.3125 0-25.75 2.253906-36.972656 6.699219-11.257813 4.457031-21.003906 10.578125-28.96875 18.199219-7.609375 7.28125-14.390625 16.121094-20.15625 26.273437-5.558594 9.785157-10.058594 19.992188-13.371094 30.339844-3.199219 10.003906-5.875 20.945313-7.953125 32.523437-2.0625 11.476563-3.457031 22.363282-4.148437 32.363282-.679688 9.777344-1.023438 19.953125-1.023438 30.234375 0 26.726562 8.496094 48.363281 25.25 64.320312 16.546875 15.746094 38.4375 23.730469 65.066406 23.730469h246.53125c26.621094 0 48.511719-7.984375 65.0625-23.730469 16.757813-15.945312 25.253906-37.589843 25.253906-64.324219-.003906-10.316406-.351562-20.492187-1.035156-30.242187zm-44.90625 72.828125c-10.933594 10.40625-25.449218 15.464844-44.378906 15.464844h-246.527344c-18.933594 0-33.449218-5.058594-44.378906-15.460938-10.722656-10.207031-15.933594-24.140625-15.933594-42.585937 0-9.59375.316406-19.066407.949219-28.160157.617187-8.921874 1.878906-18.722656 3.75-29.136718 1.847656-10.285156 4.199219-19.9375 6.996094-28.675782 2.683593-8.378906 6.34375-16.675781 10.882812-24.667968 4.332031-7.617188 9.316407-14.152344 14.816407-19.417969 5.144531-4.925781 11.628906-8.957031 19.269531-11.980469 7.066406-2.796875 15.007812-4.328125 23.628906-4.558594 1.050781.558594 2.921875 1.625 5.953125 3.601563 6.167969 4.019531 13.277344 8.605469 21.136719 13.625 8.859375 5.648437 20.273437 10.75 33.910156 15.152344 13.941406 4.507812 28.160156 6.796875 42.273437 6.796875 14.113282 0 28.335938-2.289063 42.269532-6.792969 13.648437-4.410156 25.058594-9.507813 33.929687-15.164063 8.042969-5.140624 14.953125-9.59375 21.121094-13.617187 3.03125-1.972656 4.902344-3.042969 5.953125-3.601563 8.625.230469 16.566406 1.761719 23.636719 4.558594 7.636719 3.023438 14.121093 7.058594 19.265625 11.980469 5.5 5.261719 10.484375 11.796875 14.816406 19.421875 4.542969 7.988281 8.207031 16.289062 10.886719 24.660156 2.800781 8.75 5.15625 18.398438 7 28.675782 1.867187 10.433593 3.132812 20.238281 3.75 29.144531v.007812c.636719 9.058594.957031 18.527344.960937 28.148438-.003906 18.449219-5.214844 32.378906-15.9375 42.582031zm0 0") 
   div.row
    div.col-sm-3.item-inner
      div.inner
        span.clos-filter
        div.imgcent
          img(src="images/profile.png" class="img_prev" alt="" title="")
          label(class="file-bro") 
           svg(width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg")
            path(d="M19.3346 4.58138C18.9354 4.16313 18.384 3.91598 17.7567 3.91598H14.6008V3.87795C14.6008 3.40267 14.4106 2.9464 14.0875 2.64221C13.7643 2.31902 13.327 2.12891 12.8517 2.12891H7.14829C6.65399 2.12891 6.21673 2.31902 5.89354 2.64221C5.57034 2.96541 5.38023 3.40267 5.38023 3.87795V3.91598H2.24335C1.61597 3.91598 1.06464 4.16313 0.665399 4.58138C0.26616 4.98062 0 5.55096 0 6.15932V15.627C0 16.2544 0.247148 16.8057 0.665399 17.2049C1.06464 17.6042 1.63498 17.8703 2.24335 17.8703H17.7567C18.384 17.8703 18.9354 17.6232 19.3346 17.2049C19.7338 16.8057 20 16.2354 20 15.627V6.15932C20 5.53195 19.7529 4.98062 19.3346 4.58138ZM19.0114 15.627H18.9924C18.9924 15.9692 18.8593 16.2734 18.6312 16.5015C18.403 16.7297 18.0989 16.8627 17.7567 16.8627H2.24335C1.90114 16.8627 1.59696 16.7297 1.36882 16.5015C1.14068 16.2734 1.0076 15.9692 1.0076 15.627V6.15932C1.0076 5.81712 1.14068 5.51293 1.36882 5.2848C1.59696 5.05666 1.90114 4.92358 2.24335 4.92358H5.91255C6.19772 4.92358 6.42586 4.69545 6.42586 4.41027V3.85894C6.42586 3.64982 6.5019 3.4597 6.63498 3.32662C6.76806 3.19354 6.95818 3.1175 7.1673 3.1175H12.8517C13.0608 3.1175 13.251 3.19354 13.384 3.32662C13.5171 3.4597 13.5932 3.64982 13.5932 3.85894V4.41027C13.5932 4.69545 13.8213 4.92358 14.1065 4.92358H17.7757C18.1179 4.92358 18.4221 5.05666 18.6502 5.2848C18.8783 5.51293 19.0114 5.81712 19.0114 6.15932V15.627Z" fill="white")
            path(d="M10 6.2168C8.70727 6.2168 7.52857 6.74912 6.69206 7.58562C5.83655 8.44113 5.32324 9.60082 5.32324 10.8936C5.32324 12.1864 5.85556 13.3651 6.69206 14.2016C7.54758 15.0571 8.70727 15.5704 10 15.5704C11.2928 15.5704 12.4715 15.0381 13.308 14.2016C14.1635 13.3461 14.6769 12.1864 14.6769 10.8936C14.6769 9.60082 14.1445 8.42212 13.308 7.58562C12.4715 6.74912 11.2928 6.2168 10 6.2168ZM12.5856 13.4982C11.9202 14.1445 11.0077 14.5628 10 14.5628C8.99244 14.5628 8.0799 14.1445 7.4145 13.4982C6.7491 12.8328 6.34986 11.9202 6.34986 10.9126C6.34986 9.90501 6.76811 8.99246 7.4145 8.32706C8.0799 7.66166 8.99244 7.26242 10 7.26242C11.0077 7.26242 11.9202 7.68067 12.5856 8.32706C13.251 8.99246 13.6502 9.90501 13.6502 10.9126C13.6693 11.9202 13.251 12.8328 12.5856 13.4982Z" fill="white")
            path(d="M16.768 8.06038C17.2825 8.06038 17.6995 7.64331 17.6995 7.12883C17.6995 6.61434 17.2825 6.19727 16.768 6.19727C16.2535 6.19727 15.8364 6.61434 15.8364 7.12883C15.8364 7.64331 16.2535 8.06038 16.768 8.06038Z" fill="white")
           input(type="file"   onchange="readURL(this);" style="display: none;")
        h4.title mohamed ahmed
        p.email info@yahoo.com
        nav.list-menu
          a(href="profile.html") profile 
          a(href="orders.html" class="active") orders 
          a(href="#") log out
    div.col-sm-9.item
     div.inner
      h3.title.mar orders   
      div.table-responsive
          table(class="table table-striped")
           tr 
            th  #
            th   code
            th  name    
            th  Date 
            th   
           - for (var x = 0; x < 8; x++) 
              tr 
               td  01
               td  v 20
               td Lorem ipsum dolor  Lorem ipsum dolor 
               td 5/2/2021 #[small 22:40:06]
               td
                a(href='#removal' data-toggle="modal" class="removal") 
                 i.icon
                  svg(id="Layer_1" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg")
                   path(d="m424 64h-88v-16c0-26.467-21.533-48-48-48h-64c-26.467 0-48 21.533-48 48v16h-88c-22.056 0-40 17.944-40 40v56c0 8.836 7.164 16 16 16h8.744l13.823 290.283c1.221 25.636 22.281 45.717 47.945 45.717h242.976c25.665 0 46.725-20.081 47.945-45.717l13.823-290.283h8.744c8.836 0 16-7.164 16-16v-56c0-22.056-17.944-40-40-40zm-216-16c0-8.822 7.178-16 16-16h64c8.822 0 16 7.178 16 16v16h-96zm-128 56c0-4.411 3.589-8 8-8h336c4.411 0 8 3.589 8 8v40c-4.931 0-331.567 0-352 0zm313.469 360.761c-.407 8.545-7.427 15.239-15.981 15.239h-242.976c-8.555 0-15.575-6.694-15.981-15.239l-13.751-288.761h302.44z")
                   path(d="m256 448c8.836 0 16-7.164 16-16v-208c0-8.836-7.164-16-16-16s-16 7.164-16 16v208c0 8.836 7.163 16 16 16z")
                   path(d="m336 448c8.836 0 16-7.164 16-16v-208c0-8.836-7.164-16-16-16s-16 7.164-16 16v208c0 8.836 7.163 16 16 16z")
                   path(d="m176 448c8.836 0 16-7.164 16-16v-208c0-8.836-7.164-16-16-16s-16 7.164-16 16v208c0 8.836 7.163 16 16 16z") 
                 | Delete
     ul(class="pagination")
       li(class="page-item")
        a(class="page-link" href="#") 
         svg(width="16" height="12" viewBox="0 0 10 6" xmlns="http://www.w3.org/2000/svg")
           path(d="M5.27438 5.58083L9.89199 0.963231C10.0396 0.810363 10.0354 0.566767 9.88252 0.41913C9.73339 0.2751 9.49699 0.2751 9.34789 0.41913L5.00233 4.76468L0.656779 0.41913C0.506526 0.2689 0.262929 0.2689 0.112677 0.41913C-0.0375528 0.569405 -0.0375529 0.812978 0.112677 0.963231L4.73028 5.58083C4.88056 5.73106 5.12413 5.73106 5.27438 5.58083Z")
       li(class="page-item")
        a(class="page-link active" href="#") 1 
       li(class="page-item")
        a(class="page-link" href="#") 2
       li(class="page-item")
        a(class="page-link" href="#") 3
       li(class="page-item")
        a(class="page-link" href="#") 
         svg(width="16" height="12" viewBox="0 0 10 6" xmlns="http://www.w3.org/2000/svg")
          path(d="M5.27438 5.58083L9.89199 0.963231C10.0396 0.810363 10.0354 0.566767 9.88252 0.41913C9.73339 0.2751 9.49699 0.2751 9.34789 0.41913L5.00233 4.76468L0.656779 0.41913C0.506526 0.2689 0.262929 0.2689 0.112677 0.41913C-0.0375528 0.569405 -0.0375529 0.812978 0.112677 0.963231L4.73028 5.58083C4.88056 5.73106 5.12413 5.73106 5.27438 5.58083Z")   
 
 div(id="removal" class="modal fade" role="dialog")
  div(class="modal-dialog")
   div(class="modal-content")
    button(type="button" class="close" data-dismiss="modal") 
     svg(width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg")
      path(d="M6.66271 6.00002L11.8625 0.800231C12.0455 0.617161 12.0455 0.320349 11.8625 0.137303C11.6794 -0.0457441 11.3826 -0.0457675 11.1995 0.137303L5.99975 5.33709L0.799987 0.137303C0.616917 -0.0457675 0.320105 -0.0457675 0.137058 0.137303C-0.0459882 0.320373 -0.0460117 0.617185 0.137058 0.800231L5.33682 6L0.137058 11.1998C-0.0460117 11.3829 -0.0460117 11.6797 0.137058 11.8627C0.228582 11.9542 0.348558 12 0.468535 12C0.588511 12 0.708464 11.9542 0.800011 11.8627L5.99975 6.66295L11.1995 11.8627C11.291 11.9542 11.411 12 11.531 12C11.651 12 11.7709 11.9542 11.8625 11.8627C12.0455 11.6796 12.0455 11.3828 11.8625 11.1998L6.66271 6.00002Z" fill="#1A1919")
    div.warning 
     svg(version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve") 
      path(d="M501.362,383.95L320.497,51.474c-29.059-48.921-99.896-48.986-128.994,0L10.647,383.95 c-29.706,49.989,6.259,113.291,64.482,113.291h361.736C495.039,497.241,531.068,433.99,501.362,383.95z M256,437.241 c-16.538,0-30-13.462-30-30c0-16.538,13.462-30,30-30c16.538,0,30,13.462,30,30C286,423.779,272.538,437.241,256,437.241z M286,317.241c0,16.538-13.462,30-30,30c-16.538,0-30-13.462-30-30v-150c0-16.538,13.462-30,30-30c16.538,0,30,13.462,30,30 V317.241z")
    h3.title Are you sure to remove the item?
    p  Once you click on the confirm button, the item will be removed completely
    a(href="#"  data-dismiss="modal" class="bottom")  Yes sure