extend index

block pageindex
 section.track
  div.container
   ul.wizard
    li 
     a(href="index.html") 
       | home
       svg(width="9" height="9" viewBox="0 0 10 10"  xmlns="http://www.w3.org/2000/svg")
        path(d="M7.58102 4.72562L2.96341 0.108013C2.81055 -0.0396239 2.56695 -0.0353851 2.41931 0.117483C2.27528 0.266608 2.27528 0.503012 2.41931 0.652115L6.76487 4.99767L2.41931 9.34322C2.26908 9.49347 2.26908 9.73707 2.41931 9.88733C2.56959 10.0376 2.81316 10.0376 2.96341 9.88733L7.58102 5.26972C7.73125 5.11944 7.73125 4.87587 7.58102 4.72562Z")
    li 
     a(href="track.html") 
       | track
       svg(width="9" height="9" viewBox="0 0 10 10"  xmlns="http://www.w3.org/2000/svg")
        path(d="M7.58102 4.72562L2.96341 0.108013C2.81055 -0.0396239 2.56695 -0.0353851 2.41931 0.117483C2.27528 0.266608 2.27528 0.503012 2.41931 0.652115L6.76487 4.99767L2.41931 9.34322C2.26908 9.49347 2.26908 9.73707 2.41931 9.88733C2.56959 10.0376 2.81316 10.0376 2.96341 9.88733L7.58102 5.26972C7.73125 5.11944 7.73125 4.87587 7.58102 4.72562Z")
    li  track problem
   //-  End wizard   
   div.linebox
     h3.title problem title 1
     p.text #122424ABCD
   div.date 11 Mar 2022 10:30 AM
   div.user
    img(src='images/profile.png' alt="" title="") 
    div.text
     p front end developer 
     h3.name  mohamed ahmed
   div.itembox
    div.col.status-item.active
     i
     p recieved
    div.col.status-item
     i
     p   processing
    div.col.status-item
     i
     p 10/24
   div.linebox.ad-bord
     h3.title problem title 1
     p.text #122424ABCD
   div.linebox.ad-bord
     h3.title problem title 2
     p.text #122424ABCD
   div.linebox.ad-bord
     h3.title problem title 3
     p.text #122424ABCD