extend index

block pageindex
 section.solutions
  div.container
   ul.wizard
    li 
     a(href="index.html") 
       | home
       svg(width="9" height="9" viewBox="0 0 10 10"  xmlns="http://www.w3.org/2000/svg")
        path(d="M7.58102 4.72562L2.96341 0.108013C2.81055 -0.0396239 2.56695 -0.0353851 2.41931 0.117483C2.27528 0.266608 2.27528 0.503012 2.41931 0.652115L6.76487 4.99767L2.41931 9.34322C2.26908 9.49347 2.26908 9.73707 2.41931 9.88733C2.56959 10.0376 2.81316 10.0376 2.96341 9.88733L7.58102 5.26972C7.73125 5.11944 7.73125 4.87587 7.58102 4.72562Z")
    li 
      a(href="solutions.html") 
       | solutions
       svg(width="9" height="9" viewBox="0 0 10 10"  xmlns="http://www.w3.org/2000/svg")
        path(d="M7.58102 4.72562L2.96341 0.108013C2.81055 -0.0396239 2.56695 -0.0353851 2.41931 0.117483C2.27528 0.266608 2.27528 0.503012 2.41931 0.652115L6.76487 4.99767L2.41931 9.34322C2.26908 9.49347 2.26908 9.73707 2.41931 9.88733C2.56959 10.0376 2.81316 10.0376 2.96341 9.88733L7.58102 5.26972C7.73125 5.11944 7.73125 4.87587 7.58102 4.72562Z")
    li  problem title 1
   //-  End wizard   
   h3.title.mb-3   problem title 1
   div.user
    img(src='images/profile.png' alt="" title="") 
    div.text
     p front end developer 
     h3.name  mohamed ahmed
   div.inner.mt-4
     h3.title.mb-3 solutions 
     p   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.   Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc.Donec vitae sapien ut libero venenatis faucibus tempus.
     div(class="accordion")
      div(class="question") How exactly do I swap?
      p(class="answer") 
        | It's as simple as messaging the potential YogiSwap-mate and taking it from there. Use our secure messaging to talk over the details, via Message under the profile of the yoga instructor you would like to speak to. Once you are ready to swap with the person, you just need to click Swap, specify the swap dates of your request and Request swapping. Similarly, a yoga teacher may send you a swap request any time. Please check your personal inbox regularly, to see the status of your request. Go to Inbox and then Requests (tab on top) and see:
        <br/>
        | - requests you have sent to other but are pending to be accepted by them
        <br/>
        | - requests you have received from others but are pending to be accepted by you
        <br/>
        | - requests confirmed swap from both parties. These swaps are on!!
      div(class="question") How exactly do I swap?
      p(class="answer") 
          | It's as simple as messaging the potential YogiSwap-mate and taking it from there. Use our secure messaging to talk over the details, via Message under the profile of the yoga instructor you would like to speak to. Once you are ready to swap with the person, you just need to click Swap, specify the swap dates of your request and Request swapping. Similarly, a yoga teacher may send you a swap request any time. Please check your personal inbox regularly, to see the status of your request. Go to Inbox and then Requests (tab on top) and see:
          <br/>
          | - requests you have sent to other but are pending to be accepted by them
          <br/>
          | - requests you have received from others but are pending to be accepted by you
          <br/>
          | - requests confirmed swap from both parties. These swaps are on!!
      div(class="question") How exactly do I swap?
      p(class="answer") 
          | It's as simple as messaging the potential YogiSwap-mate and taking it from there. Use our secure messaging to talk over the details, via Message under the profile of the yoga instructor you would like to speak to. Once you are ready to swap with the person, you just need to click Swap, specify the swap dates of your request and Request swapping. Similarly, a yoga teacher may send you a swap request any time. Please check your personal inbox regularly, to see the status of your request. Go to Inbox and then Requests (tab on top) and see:
          <br/>
          | - requests you have sent to other but are pending to be accepted by them
          <br/>
          | - requests you have received from others but are pending to be accepted by you
          <br/>
          | - requests confirmed swap from both parties. These swaps are on!!
      div(class="question") How exactly do I swap?
      p(class="answer") 
          | It's as simple as messaging the potential YogiSwap-mate and taking it from there. Use our secure messaging to talk over the details, via Message under the profile of the yoga instructor you would like to speak to. Once you are ready to swap with the person, you just need to click Swap, specify the swap dates of your request and Request swapping. Similarly, a yoga teacher may send you a swap request any time. Please check your personal inbox regularly, to see the status of your request. Go to Inbox and then Requests (tab on top) and see:
          <br/>
          | - requests you have sent to other but are pending to be accepted by them
          <br/>
          | - requests you have received from others but are pending to be accepted by you
          <br/>
          | - requests confirmed swap from both parties. These swaps are on!!
      div(class="question") How exactly do I swap?
      p(class="answer") 
          | It's as simple as messaging the potential YogiSwap-mate and taking it from there. Use our secure messaging to talk over the details, via Message under the profile of the yoga instructor you would like to speak to. Once you are ready to swap with the person, you just need to click Swap, specify the swap dates of your request and Request swapping. Similarly, a yoga teacher may send you a swap request any time. Please check your personal inbox regularly, to see the status of your request. Go to Inbox and then Requests (tab on top) and see:
          <br/>
          | - requests you have sent to other but are pending to be accepted by them
          <br/>
          | - requests you have received from others but are pending to be accepted by you
          <br/>
          | - requests confirmed swap from both parties. These swaps are on!!
      div(class="question") How exactly do I swap?
      p(class="answer") 
          | It's as simple as messaging the potential YogiSwap-mate and taking it from there. Use our secure messaging to talk over the details, via Message under the profile of the yoga instructor you would like to speak to. Once you are ready to swap with the person, you just need to click Swap, specify the swap dates of your request and Request swapping. Similarly, a yoga teacher may send you a swap request any time. Please check your personal inbox regularly, to see the status of your request. Go to Inbox and then Requests (tab on top) and see:
          <br/>
          | - requests you have sent to other but are pending to be accepted by them
          <br/>
          | - requests you have received from others but are pending to be accepted by you
          <br/>
          | - requests confirmed swap from both parties. These swaps are on!!
     nav.bottoms
      a(href='view.html' class="bottom")  Unsatisfied? 
      a(href='#' class="bottom green")  Approve         